[run]
branch = false
parallel = true
data_file = ${PWD}/.coverage
omit=
    $SPARK_HOME/*
    setup.py
    dist/*
    $PWD/fink_science/tester.py
    $PWD/fink_science/xmatch/alt/generate_fake_catalog.py
