.coverage
.coverage.*
dist/
*.pyc
htmlcov
.ipynb_checkpoints
.DS_Store
fink_science.egg-info/
*.crc
default.profraw
.vscode
.github
fink_science/cbpf_clssifier/.ipynb_checkpoints
fink_science/cbpf_clssifier/*.ipynb