# General
numpy>=1.17
pandas
scipy
scikit-learn==0.23

# Coverage
coveralls
coverage>=4.2
codecov

# Spark
pyarrow

# xmatch
astropy
astroquery

# Microlensing
-e git://github.com/dgodinez77/LIA.git@FINK#egg=LIA

# Supernnova
supernnova
h5py
natsort
colorama
seaborn
skimage