name: Sentinel

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  install-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Check Spark 2.4.7 availability
        run: |
          wget --spider http://archive.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
  test-suite:
    needs: install-checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
        spark-version: [2.4.7]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install add-ons
      run: |
        sudo apt-get install axel
    - name: Set up env [1/2]
      run: |
        echo "FINK_SCIENCE=$GITHUB_WORKSPACE" >> $GITHUB_ENV
    - name: Install Java 8
      run: |
        source conf/java8_for_xenial.sh
    - name: Install Spark 2.4.7
      run: |
        axel -n10 --quiet https://archive.apache.org/dist/spark/spark-${{ matrix.spark-version }}/spark-${{ matrix.spark-version }}-bin-hadoop2.7.tgz
        tar -xf spark-${{ matrix.spark-version }}-bin-hadoop2.7.tgz
        echo "SPARK_HOME=$FINK_SCIENCE/spark-${{ matrix.spark-version }}-bin-hadoop2.7" >> $GITHUB_ENV
    - name: Set up env [2/2]
      run: |
        echo "SPARKLIB=${SPARK_HOME}/python:${SPARK_HOME}/python/lib/py4j-0.10.7-src.zip" >> $GITHUB_ENV
        echo "$HOME/.local/bin:${FINK_SCIENCE}/bin" >> $GITHUB_PATH
        echo "${SPARK_HOME}/bin:${SPARK_HOME}/sbin" >> $GITHUB_PATH
        echo "$FINK_ALERT_SIMULATOR/bin" >> $GITHUB_PATH
        echo "spark.yarn.jars=${SPARK_HOME}/jars/*.jar" > ${SPARK_HOME}/conf/spark-defaults.conf
        echo "ARROW_PRE_0_15_IPC_FORMAT=1" > ${SPARK_HOME}/conf/spark-env.sh
    - name: Install Python dependencies
      run: |
        pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt
        pip install torch==1.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
        echo "PYTHONPATH="${SPARKLIB}:${FINK_SCIENCE}"" >> $GITHUB_ENV
    - name: Check env
      run: |
        echo "FINK_SCIENCE: $FINK_SCIENCE"
        echo "SPARK_HOME: $SPARK_HOME"
        echo "SPARKLIB: $SPARKLIB"
        echo "PYTHONPATH: $PYTHONPATH"
    - name: Run test suites
      run: |
        ./run_tests.sh
        bash <(curl -s https://codecov.io/bash)
