name: Sentinel

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-suite:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        container: ["julienpeloton/fink-ci:prod", "julienpeloton/fink-ci:dev"]

    container:
      image: ${{ matrix.container }}


    steps:
    - uses: actions/checkout@v2

    - name: Set up env [1/2]
      run: |
        echo "FINK_SCIENCE=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        echo "JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java))))" >> $GITHUB_ENV
        echo "${BINPATH}" >> $GITHUB_PATH

    - name: Set up env [2/2]
      run: |
        echo "PYTHONPATH="${PYTHONPATH}:${SPARKLIB}:${FINK_SCIENCE}"" >> $GITHUB_ENV

    - name: Check env
      run: |
        echo "FINK_SCIENCE: $FINK_SCIENCE"
        echo "SPARK_HOME: $SPARK_HOME"
        echo "SPARKLIB: $SPARKLIB"
        echo "PYTHONPATH: $PYTHONPATH"
        echo "JAVA_HOME: $JAVA_HOME"
        echo `python -V`

    - name: Run test suites
      run: |
        pip install fink-utils --upgrade
        pip install scikit-learn==1.0.2
        pip install git+https://github.com/b-biswas/kndetect --upgrade
        ./run_tests.sh
        pip install git+https://github.com/emilleishida/fink_sn_activelearning.git@56b45646c92bb8194f0ab0694bb442d03b23a0fc#egg=fink_sn_activelearning
        curl -s https://codecov.io/bash | bash
